<div class="row">
  <div class="col-sm-12">
    <h3>Föreläsningar</h3>
    <accordion [closeOthers]="true">
      <accordion-group>
        <div accordion-heading>
          <!-- TODO: show the lecture name -->
          <span class="pull-right"><!-- TODO get the rating --></span>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <!-- TODO: show the description -->
          </div>
        </div>
        <div class="row row-margin">
          <div class="col-sm-4">

            <!--
            TODO: add the lecture-rating child component, send the lecture object as input, and
                  call getLectures when a newRating event is sent out from the component
            <lecture-rating></lecture-rating>
            -->
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
