<div *ngIf="lecture">
  <h4>Kommentarer för föreläsning {{lecture.name}}</h4>
  <div class="list-group">
    <div class="list-group-item" *ngFor="let rating of lecture.rating">
      <div *ngIf="rating.canDelete" class="row" style="margin-bottom:10px">
        <div class="col-sm-12">
            <a class="pull-right" (click)="deleteRating(rating)" style="cursor:pointer">
              <i class="glyphicon glyphicon-remove-sign">
              </i>
              Ta bort
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h4 class="list-group-item-heading">Rating</h4>
          <p class="list-group-item-text">
            {{rating.comment}}
          </p>
        </div>
        <div class="col-sm-4">
          <h4 class="list-group-item-heading">Betygsatt av</h4>
          <p class="list-group-item-text">
              {{formatUser(rating.user)}}
          </p>
        </div>
        <div class="col-sm-2">
          <span class="badge pull-right">{{rating.rating}}</span>
        </div>
      </div>
    </div>
  </div>
  <button (click)="back()" class="btn btn-primary">Tillbaka</button>
</div>
