<div class="row">
  <div class="col-sm-12">
    <h3>Lista med filmer</h3>
    <accordion [closeOthers]="oneAtATime">
      <!-- TODO lägg till ngFor för att iterera över listan med filmer -->
      <accordion-group>
        <div accordion-heading>
          <!-- TODO: visa namnet -->
          <span class="pull-right"><!-- TODO visa rating --> </span>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <!-- TODO visa beskrivning -->
          </div>
        </div>
        <div class="row row-margin">
          <div class="col-sm-4">
            <!-- TODO koppla movie till barn-komponent movie-rating -->
            <movie-rating></movie-rating>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>
